@import "./colors.css";

* {
    box-sizing: border-box;
}

/* remove default button style */
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* get your favorite font from google */
body {
    font-family: 'Dosis', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

h2 {
    font-weight: 400;
}

.container {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* increase button specificity with more selectors */
.button-container button {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 0.5rem 3rem;
    color: var(--white);
}

.button-container button:hover {
    background-color: var(--secondary);
}

.button-container button:disabled {
    background-color: var(--gray);
    cursor: auto;
}

/* step container */
/* remove default ul style */
.steps {
    padding: 0;
    list-style: none;
    display: flex;
    overflow-x: auto;
}

.step-content {
    /* to have deefault behavior of box-sizing */
    box-sizing: content-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--step-content-width);
    min-width: var(--step-content-width);
    max-width: var(--step-content-width);
    padding-top: var(--step-content-padding-top);
    padding-right: var(--step-gutter);
}

.step-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--step-circle-size);
    height: var(--step-circle-size);
    color: var(--step-default-circle-color);
    border: var(--step-circle-border-width) solid var(--step-default-circle-border-color);
    border-radius: 100%;
    background-color: var(--step-default-circle-bg-color);
}

.step-circle::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: calc(var(--step-circle-border-width) - 1px);
    width: calc(var(--step-content-width) + var(--step-gutter) - var(--step-circle-size));
    height: var(--step-circle-border-width);
    transform: translate(-100%, -50%);
    color: var(--step-default-circle-border-color);
    background-color: currentColor;
}

.step:first-child {
    margin-left: auto;
}

.step:last-child {
    margin-right: auto;
}

.step:first-of-type .step-circle::before {
    display: none;
}

.step:last-of-type .step-content {
    padding-right: 0;
}

.step-text {
    color: var(--step-default-text-color);
    word-break: break-all;
    margin-top: 0.25rem;
}

/* active step */
.step-active .step-circle {
    color: var(--step-active-circle-color);
    background-color: var(--step-active-circle-bg-color);
    border-color: var(--step-active-circle-border-color);
}

.step-active .step-circle::before {
    color: var(--step-active-circle-border-color);
}

.step-active .step-text {
    color: var(--step-active-text-color);
}

/* error step */
.step-error .step-circle {
    color: var(--step-error-circle-color);
    background-color: var(--step-error-circle-bg-color);
    border-color: var(--step-error-circle-border-color);
}

.step-error .step-circle::before {
    color: var(--step-error-circle-border-color);
}

.step-error .step-text {
    color: var(--step-error-text-color);
}

/* success step */
.step-success .step-circle {
    color: var(--step-success-circle-color);
    background-color: var(--step-success-circle-bg-color);
    border-color: var(--step-success-circle-border-color);
}

.step-success .step-circle::before {
    color: var(--step-success-circle-border-color);
}

.step-success .step-text {
    color: var(--step-success-text-color);
}